.row
  .col-md-8
    %h1
      = link_to @link.title, @link.url
      %br
        %small= "Submitted #{ time_ago_in_words(@link.created_at) } by #{@link.owner.name}"

    .btn-group
      %a.btn.btn-primary{ "href": @link.url } Visit Link

    .btn-group
      - if @link.owner == current_user
        = link_to "Edit", edit_link_path(@link), class: "btn btn-default"
        = link_to "Delete", @link, class: "btn btn-default",
          :method => :delete, :data => { :confirm => 'Are you sure?' }

    .btn-group.pull-right
      = link_to upvote_link_path(@link), method: :put, class: "btn btn-default btn-sm" do
        %span.glyphicon.glyphicon-chevron-up
        Upvote
        = @link.get_upvotes.size

      = link_to downvote_link_path(@link), method: :put, class: "btn btn-default btn-sm" do
        %span.glyphicon.glyphicon-chevron-down
        Downvote
        = @link.get_downvotes.size

.row
  .col-md-8
    %h3.comments_title
      = "#{@link.comments.count} Comments"

= render @link.comments

.row
  .col-md-8
    = simple_form_for [@link, Comment.new]  do |f|
      .form-group
        = f.text_area :body, class: "form-control"
      .form-group
        = f.submit "Add Comment", class: "btn btn-primary"
